<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': appareilStatus === 'allumé',
                'list-group-item-danger': appareilStatus === 'éteint'}">
  <div style="width:20px;height:20px;background-color:red;" *ngIf="appareilStatus === 'éteint'"></div>
  <h4 [ngStyle]="{color: getColor()}">{{ appareilName }} -- {{getStatus()}}</h4>
  <input type="text" class="form-control" [(ngModel)]="appareilName" (blur)="onNameBlur()">
  <a class="btn btn-sm btn-primary" [routerLink]="[id]">Détail</a>

  <button class="btn btn-sm btn-success"
          *ngIf="appareilStatus === 'éteint'"
          (click)="onSwitch()">Allumer
  </button>
  <button class="btn btn-sm btn-danger"
          *ngIf="appareilStatus === 'allumé'"
          (click)="onSwitch()">Eteindre
  </button>

  <p>Mis à jour : {{ lastUpdate | async | date: 'short'}}</p>
</li>


